footer {
  background-color: rgb(15, 15, 43);
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.6rem;
  ul {
    list-style: none;
    li {
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
  .store-btn {
    cursor: pointer;
    border: 1px solid white;
    margin: 0.5rem;
    height: 3.5rem;
    border-radius: 0.5rem;
    transition: all ease-in-out 300ms;
    &:hover {
      transition: all ease-in-out 300ms;
      transform: scale(1.1);
    }
  }
}
.footer_division--right {
  li {
    margin: 1.5rem 0rem;
  }
}
